target/*
target
.settings
.settings/*
/.classpath
/.project
/.springBeans
gwt-unitCache
gwt-unitCache/*
WebContent/WEB-INF/classes
WebContent/WEB-INF/classes/*
WebContent/WEB-INF/lib
WebContent/WEB-INF/lib/*
WebContent/WEB-INF/deploy
WebContent/WEB-INF/deploy/*
